img {
    width: 100%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Raleway', sans-serif;
}

/* --------------- heder ------- */
#hder_section {
	box-shadow: 0 4px 2px -2px #ddd;
	padding: 0 5%;
	position: sticky;
	top: 0;
	background: #fff;
}
#hder_section .col-3 .logo{
    width: 206px;
}
.manubar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    column-gap: 30px;
}
.manubar ul li a {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    background: rgb(221, 219, 219);
    display: inline-block;
    margin-top: 20px;
    transition: .5s;
 
}
.manubar ul li {
	position: relative;
	text-align: center;
  
}
.manubar ul li a:hover {
    background: rgb(148, 148, 148);
}

.manubar ul li ul {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 0;
	padding: 20px 10px;
	width: 200px !important;
	background: gray;
	justify-content: center;
    opacity: 0;
}
.manubar ul li:hover ul {
    opacity: 1;
    transform-origin: top;
    transition: .5s;
}
.manubar ul li ul li a {
	font-size: 16px;
	font-weight: 600;
	color: #000;
	padding: 10px 20px;
	border-radius: 5px;
	background: rgb(221, 219, 219);
	display: inline-block;
	margin-top: 20px;
	transition: .5s;
	width: 100%;
}


/* -------------- memue position chang css ------------ */
#hder_section.left_menu .row .col-3 {
    order: 1;
}
#hder_section.left_menu .row .col-9 {
    order: 2;
}

#hder_section.right_menu .row .col-3 {
    order: 2;
}
#hder_section.right_menu .row .col-9 {
    order: 1;
}
#hder_section.cente_menu .row {
    flex-direction: column;
}
#hder_section.cente_menu .row .col-9 {
    width: 100%;
}
#hder_section.cente_menu .row .col-9 ul {
    justify-content: center;
}

/* ------------------- blog info -section ----------- */

#blogpost .col-md-9 .blog_info .title {
	margin-bottom: 30px;
	padding: 30px 20px;
	box-shadow: 0px 0px 3px #ddd;
}
/* ------------------- sidbar ------------------- */
.sibdebar li {
	list-style: none;
	margin-top: 13px;
}
.sibdebar .wp-block-heading {
	font-size: 23px;
	font-weight: 600;
	text-transform: capitalize;
	color: #000;
    position: relative;
}
.sibdebar .wp-block-heading::before {
    content: " ";
    height: 100%;
    width: 3px;
    background: #00aeef;
    left: -11px;
    top: 0;
    position: absolute;
    z-index: -1;
}
.wp-block-search__inside-wrapper input[type="search"] {
	height: 35px;
	border: none;
	box-shadow: 0 0 3px #bdc8ca inset;
	border-radius: 5px;
}
 .wp-block-search__inside-wrapper button {
    height: 35px;
    background: #00aeef;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
}
.sibdebar #block-9 {
    margin-top: 30px;
}
.sibdebar #block-10 ul li a {
	color: #000;
}
.sibdebar #block-10 ul li a:hover {
    color: #00aeef;
}

/* ------------------- footer-section ----------- */
#footer-copyright {
    background: gray;
    padding: 30px;
}
#footer-copyright .footer-section {
    background: gray;
    padding: 10px 0;
    text-align: center;
    border-top: 2px solid #ddd;
}


#footer #block-16 {
    margin-top: 30px;
}
#footer li {
    list-style: none;
}

#footer .wp-block-image {
    width: 205px;
}
#footer .wp-block-heading {
    font-size: 20px;
    font-weight: 600;
}
#footer p {
    font-size: 14px;
}