img {
    width: 100%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Raleway', sans-serif;
}

/* --------------- heder ------- */
.manubar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    column-gap: 30px;
}
.manubar ul li a {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    background: rgb(221, 219, 219);
    display: inline-block;
    margin-top: 20px;
    transition: .5s;
 
}
.manubar ul li {
	position: relative;
	text-align: center;
  
}
.manubar ul li a:hover {
    background: rgb(148, 148, 148);
}

.manubar ul li ul {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 0;
	padding: 20px 10px;
	width: 200px !important;
	background: gray;
	justify-content: center;
    opacity: 0;
}
.manubar ul li:hover ul {
    opacity: 1;
    transform-origin: top;
    transition: .5s;
}
.manubar ul li ul li a {
	font-size: 16px;
	font-weight: 600;
	color: #000;
	padding: 10px 20px;
	border-radius: 5px;
	background: rgb(221, 219, 219);
	display: inline-block;
	margin-top: 20px;
	transition: .5s;
	width: 100%;
}


/* -------------- memue position chang css ------------ */
#hder_section.left_menu .row .col-3 {
    order: 1;
}
#hder_section.left_menu .row .col-9 {
    order: 2;
}

#hder_section.right_menu .row .col-3 {
    order: 2;
}
#hder_section.right_menu .row .col-9 {
    order: 1;
}
#hder_section.cente_menu .row {
    flex-direction: column;
}
#hder_section.cente_menu .row .col-9 {
    width: 100%;
}
#hder_section.cente_menu .row .col-9 ul {
    justify-content: center;
}



/* ------------------- footer-section ----------- */
#footer-copyright .footer-section {
    background: gray;
    padding: 10px 0;
    text-align: center;
}